@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fcms-primary: #0070f4;
  --fcms-primary-bg: #0061e610;
  --fcms-secondary: #ff5b79;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .typography-h1 {
    @apply font-headers text-5xl;
  }

  .typography-h2 {
    @apply font-headers text-4xl;
  }

  .typography-h3 {
    @apply font-headers text-3xl font-normal;
  }

  .typography-h4 {
    @apply font-headers text-3xl font-normal;
  }

  .typography-h5 {
    @apply font-headers text-2xl font-normal;
  }

  .typography-h6 {
    @apply font-headers text-xl font-medium;
  }

  .typography-subtitle1 {
    @apply font-headers text-lg font-medium;
  }

  .typography-subtitle2 {
    @apply font-headers text-base font-medium;
  }

  .typography-body1 {
    /*@apply text-base;*/
  }

  .typography-body2 {
    @apply text-sm;
  }

  .typography-caption {
    @apply text-xs;
  }

  .typography-label {
    @apply text-sm font-medium;
  }

  .typography-inherit {
    @apply text-inherit;
  }

  .typography-button {
    @apply text-sm font-medium uppercase;
  }
}

body {
  @apply flex min-h-screen w-full flex-col items-center justify-center bg-surface-50 dark:bg-surface-900;
}

a {
  @apply text-primary dark:text-primary;
}
